@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-pagination .ant-pagination-item {
  border-radius: 8px;
  background-color: #161F3A; /* ci-modal-black */
  color: #F2F9FF; /* ci-modal-white */
  border: 1px solid #999999; /* ci-modal-grey */
}

.custom-pagination .ant-pagination-item a {
  color: #F2F9FF; /* White text */
}

.custom-pagination .ant-pagination-item-active {
  background-color: #245FA1 !important; /* ci-modal-blue */
  border-color: #006DF5 !important; /* ci-modal-light-blue */
}

.custom-pagination .ant-pagination-item:hover {
  background-color: #245FA1; /* ci-modal-blue on hover */
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  color: #F2F9FF; /* White text */
}

.custom-pagination .ant-pagination-prev:hover,
.custom-pagination .ant-pagination-next:hover {
  color: #006DF5; /* ci-modal-light-blue on hover */
}

.custom-pagination .ant-pagination-disabled {
  color: #999999 !important; /* Grey for disabled buttons */
}

.custom-pagination {
  background-color: #081026; /* ci-modal-dark-blue */
  padding: 10px;
  border-radius: 8px;
}
